.footer {
  background-color: #2C2B2B;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links > ul {
  margin: 0;
  list-style: none;
  display: flex;
  gap: 16px;
  font-size: 36px;
}

.links > ul > li {
  color: white;
}

.links > ul > li:hover {
  color: rgb(195, 195, 195);
  transform: scale(1.2);
  transition: 0.3s;
}

.footer > p {
  color: grey;
}
